* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $blanco1;
  font-family: $principal;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
