header {
  padding: 40px 0;

  .logo {
    text-align: center;
    margin-bottom: 40px;

    p {
      color: $gris1;
    }
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: $blanco;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
  }

  .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      color: $gris1;
      margin: 10px 20px;
      font-size: 18px;
      font-weight: 700;
    }

    .activo {
      color: $negro;
    }
  }
}

//@MEDIAQUERY

@media (max-width: 700px) {
  header {
    .barra-busqueda {
      width: 100%;
    }
  }
}
