// Font Famyli

$principal: "Open Sans", sans-serif;

// colores

$blanco: #fff;
$blanco1: #f3f3f3;
$gris1: #9b9b9b;
$negro: #000;
$transparente9: rgba(0, 0, 0, 0.9);
$azul: #1da1f2;
$azul1: #3b5998;
$rosa: #c13584;
